# Files not to commit to git
__pycache__
*.py[cod]
/build
# environment vars
codecov-token.txt
.env
# virtualenv 
venv/
env/

# code coverage files
.coverage
htmlcov/
/coverage

# Pydev (Eclipse) and VSCode project files
.project
.pydevproject
.vscode/
